<header class="bg-white border-b-2 border-gray-200 px-4 lg:px-8 py-4 w-full">
  <div>
    <a href="/" class="">
      <h1 class="text-lg tracking-wide font-['Gilda_Display']">
        Mili Store
      </h1>
    </a>
  </div>
</header>
